// Import page-specific CSS files here.
// @import "home";

/* Offers container styles */
.offers-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px;
}

.offer-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.offer-card {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.offer-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  overflow: hidden;
  margin-bottom: 10px;
}

.offer-image {
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px;
}

.offer-details {
  margin-top: 20px;
}

.offer-name {
  font-size: 18px;
  margin-bottom: 5px;
}

.offer-price {
  font-size: 16px;
  color: green;
  margin-bottom: 5px;
}

.offer-description {
  font-size: 14px;
  color: #666;
}

.view-offer-button {
  display: block;
  background-color: #27F4C3;
  color: white;
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
}

.view-offer-button:hover {
  background-color: #e54043;
}
