// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

// navbar and footer
@import "pages/navbar";
@import "pages/footer";

// body
@import "pages/body";

// dashboard in home page
@import "pages/dashboard";
// TODO M: a if condition for only the home page gotta figure that out

@import "pages/home";

@import "pages/show";

@import "pages/new";

@import "pages/profile";

.primary-red {
  background-color: #ff5a5f;
  color: white;
  padding: 10px 20px;
  border-radius: 4px;
  text-decoration: none;
  max-width: fit-content;
  margin: 10px;
}

.secondary-cyan {
  background-color: #27F4C3;
  color: white;
  padding: 10px 20px;
  border-radius: 4px;
  text-decoration: none;
  max-width: fit-content;
  margin: 10px;
}

.secondary-light {
  background-color: lightgrey;
  color: white;
  padding: 10px 20px;
  border-radius: 4px;
  text-decoration: none;
  max-width: fit-content;
  margin: 10px;
}
